/**
 * Global variables
 */
:root {
    /** Colors */
    --main-bg-color: #eeeeee;
    --highlight-color: #bbbbbb;
    --hover-highlight-color: #cccccc;

    --customizer-bar-padding: 10px;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

#main {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/**
 * Customizer bar general styling
 *
 * @{
 */
.customizer-bar {
    border-right: 2px solid black;
    padding-left: var(--customizer-bar-padding);
    padding-right: var(--customizer-bar-padding);

    width: 200px;
    max-width: 200px;

    overflow-y: auto;
}

.customizer-bar .title {
    margin-block-start: 0em;
}

.customizer-bar .section-header {
    margin-block-end: 0.25em;
}

.customizer-bar .label {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
/**
 * @}
 */

/**
 * Error/Incomplete Section highlighting.
 *
 * @{
 */
.incomplete {
    background-color: rgb(198, 241, 255);
}

.incomplete .section-header::after {
    content: url('info-16x16.png');
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
}

.customizer-bar .incomplete {
    /*
     * Trick to get highlighting across the whole width of the customizer bar
     * without forcing every individual sub-element to have the right padding.
     */
    margin-left: calc(-1 * var(--customizer-bar-padding));
    margin-right: calc(-1 * var(--customizer-bar-padding));
    padding-left: var(--customizer-bar-padding);
    padding-right: var(--customizer-bar-padding);
}

.error {
    /* background-color: lightcoral; */
    background-color: rgb(255, 178, 178);
}

.error .section-header::after {
    content: url('error-16x16.png');
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
}

.customizer-bar .error {
    /*
     * Trick to get highlighting across the whole width of the customizer bar
     * without forcing every individual sub-element to have the right padding.
     */
    margin-left: calc(-1 * var(--customizer-bar-padding));
    margin-right: calc(-1 * var(--customizer-bar-padding));
    padding-left: var(--customizer-bar-padding);
    padding-right: var(--customizer-bar-padding);
}
/**
 * @}
 */

/**
 * Clickable widget styling
 *
 * This is used for selectors and buttons.
 *
 * @{
 */
.pressable {
    text-align: center;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
    display: inline-block;

    border: 1px solid var(--highlight-color);
    /* Dumb trick to get as big a circular radius as we can get. */
    border-radius: 99999px;

    &.pressed {
        background-color: var(--highlight-color);
    }
    &.unpressed:hover {
        background-color: var(--hover-highlight-color);
    }
    &.disabled {
        color: var(--highlight-color);
    }
}
/**
 * @}
 */

/**
 * Selector/MultiSelector widget styling
 *
 * These widgets use the `pressable` style for the selectable elements.
 *
 * @{
 */
.selector {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
/**
 * @}
 */

 /**
  * Level Selector styling
  *
  * @{
  */
.level-selector {
    border-right: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.level-selector span {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.level-selector .selected {
    background-color: var(--highlight-color);
}

.level-selector .unselected:hover {
    background-color: var(--hover-highlight-color);
}

.level-selector .disabled {
    color: var(--highlight-color);
}
/**
 * @}
 */

/**
 * Character Sheet styling
 *
 * @{
 */
.character-sheet {
    padding-left: 10px;
}

.character-sheet .ability-table {
    border: 1px solid black;
    border-spacing: 0;
}

.character-sheet .ability-table .ability-name {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}

.character-sheet .ability-table .ability-score {
    border: 1px solid black;
    min-width: 2em;
    text-align: center;
}

.character-sheet .ability-table .ability-focuses {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
/**
 * @}
 */

.hover-container {
    position: relative;
}

.hover-content {
    background-color: white;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: normal;

    position: absolute;
    top: 100%;
    left: 100%;
    display: none;
}

.hover-container:hover .hover-content {
    display: block;
}
